@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap");

:root {
  /* Light Mode Color Palette */
  --primary-color: #002366;
  --secondary-color: #ffd700;
  --accent-color: #f0f0f0;
  --text-color: #333333;
  --background-color: #ffffff;
  --hover-color: #0056b3;
  --border-color: #cccccc;

  /* Dark Mode Color Palette */
  --primary-color-dark: #8ea6ff;
  --secondary-color-dark: #ffd700;
  --accent-color-dark: #303030;
  --text-color-dark: #f0f0f0;
  --background-color-dark: #121212;
  --hover-color-dark: #adc8ff;
  --border-color-dark: #444444;

  /* Buttons */
  --button-bg-color: var(--secondary-color);
  --button-text-color: #ffffff;
  --button-hover-bg-color: var(--hover-color);

  /* Dark Mode Buttons */
  --button-bg-color-dark: var(--secondary-color-dark);
  --button-text-color-dark: #121212;
  --button-hover-bg-color-dark: var(--hover-color-dark);

  /* Shadows */
  --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  --box-shadow-dark: 0 2px 5px rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--hover-color);
}

img {
  cursor: pointer;
}

.button {
  background: var(--button-bg-color);
  color: var(--primary-color);
  font-size: large;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--primary-color);
  color: wheat;
}

header,
nav,
section {
  display: flex;
  align-items: center;
}

header {
  background-color: var(--primary-color);
  flex-direction: column;
  justify-content: center;
  font-family: "Edu VIC WA NT Beginner", cursive;
  padding: 0.75rem 0 1rem 0;
}

.header-head,
.header-para {
  color: wheat;
}

nav {
  justify-content: space-around;
  position: relative;
  padding: 1rem 0;
}

.nav-logo img {
  width: 100px;
  height: 30px;
}

.hamburger {
  cursor: pointer;
}

.hamburger.active {
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 11;
}

.hamburger.active .ham-dash:nth-child(2) {
  opacity: 0;
}

.hamburger.active .ham-dash:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
  background-color: white;
}

.hamburger.active .ham-dash:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
  background-color: white;
}

.ham-dash {
  display: block;
  width: 30px;
  height: 4px;
  margin: 5px;
  background-color: black;
}

.ham-wrapper {
  display: none;
}

.ham-wrapper.active {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 10;
  /* -webkit-transition: all 1s ease-in-out; */
  /* transition: all 1s ease-in-all; */
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: x-large;
  align-items: center;
}

.ham-wrapper a {
  color: var(--accent-color);
}

footer {
  background-color: var(--primary-color);
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
  text-align: center;
  margin-top: auto;
  padding: 2rem 0;
}

footer h1 {
  font-size: larger;
  margin-bottom: 0.5rem;
  color: wheat;
}

footer p {
  color: wheat;
}

footer a {
  color: wheat;
  font-size: 1rem;
}

.footer-about {
  display: flex;
  flex-direction: column;
}

.copyright {
  background-color: var(--primary-color);
  border-top: 2px solid wheat;
  justify-content: center;
  padding: 1rem 0;
}

.copyright h3 {
  color: wheat;
}
/* basics*/

.main-section {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 250px;
}

.landing-main-img {
  width: 100%;
}

.main-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  position: absolute;
  bottom: -200px;
}

.main-sub-container {
  cursor: pointer;
  border-radius: 3px;
  background-color: white;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 5px;
  box-shadow: 4px 4px 10px rgb(75, 73, 73);
}

.main-sub-container p {
  font-size: large;
  font-weight: bold;
}

.main-sub-container img {
  width: 40px;
}

.main-sub-container:hover {
  background-color: var(--primary-color);
}

.main-sub-container:hover img {
  filter: invert(1) brightness(2);
}

.main-sub-container:hover p {
  color: white;
  fill: white;
}

.newsletter-section {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 60px 11px;
  /* margin-bottom: 100px; */
}

.newsletter-section p,
.newsletter-section h1 {
  color: white;
  text-align: center;
}

.newsletter-form {
  text-align: center;
}

.newsletter-section input {
  font-size: larger;
  padding: 6.5px 8px 6.5px 10px;
  border: none;
  border-radius: 4px;
}

.newsletter-section input:focus {
  outline: none;
}

.partners-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 50px 0;
}

.partners-section h1 {
  font-size: x-large;
}

.partner-image {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}

.partner-image :nth-child(n) {
  width: 150px;
}

.grow-money-section {
  background-color: var(--primary-color);
  border: 2px solid white;
  display: flex;
  flex-direction: column-reverse;
  gap: 4rem;
  padding: 30px 0 40px 0;
}

.grow-money-img {
  width: 50%;
}

.grow-money-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  padding: 0 20px;
}

.grow-money-div :nth-child(n) {
  color: white;
}

.map-section iframe {
  width: 100%;
}

@media (min-width: 768px) {
  footer {
    display: grid;
    grid-template-columns: auto auto;
  }

  footer h1 {
    font-size: x-large;
  }

  footer p,
  footer a {
    font-size: large;
  }

  /* basics*/

  .main-section {
    margin-bottom: 100px;
  }

  .main-container {
    grid-template-columns: auto auto auto auto;
    bottom: -55px;
  }

  .main-sub-container {
    width: 150px;
  }

  .newsletter-section {
    gap: 1.3rem;
    padding: 80px 11px;
  }

  .newsletter-section h1 {
    font-size: xx-large;
  }

  .newsletter-section p {
    font-size: 1.4rem;
  }

  .newsletter-form {
    text-align: center;
  }

  .partners-section {
    gap: 3rem;
  }

  .partners-section h1 {
    font-size: xx-large;
  }

  .grow-money-section {
    gap: 2rem;
    padding: 30px 0 30px 0;
  }

  .grow-money-div {
    padding: 0 150px;
  }

  .grow-money-img {
    width: 40%;
  }
}

@media (min-width: 1024px) {
  .ham-dash {
    display: none;
  }
  .ham-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
  }
  .ham-wrapper a {
    color: var(--primary-color);
  }
  .ham-wrapper a:hover {
    color: var(--primary-color-dark);
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  footer {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    justify-content: center;
  }

  footer h1 {
    font-size: x-large;
    margin-bottom: 0.5rem;
  }

  footer p,
  footer a {
    font-size: 1.2rem;
  }

  /* basics*/
  .main-section {
    margin-bottom: 120px;
  }

  .main-container {
    grid-template-columns: auto auto auto auto;
    bottom: -70px;
  }

  .main-sub-container {
    width: 160px;
    height: 140px;
  }

  .partners-section {
    padding: 80px 0;
  }

  .partners-section h1 {
    font-size: 2.2rem;
  }

  .partner-image {
    display: flex;
    gap: 5rem;
  }

  .partner-image :nth-child(n) {
    width: 150px;
    height: 65px;
  }

  .grow-money-section {
    flex-direction: row;
    align-items: start;
    padding: 20px 60px;
  }

  .grow-money-img {
    width: 50%;
  }

  .grow-money-div {
    text-align: start;
    padding: 2rem 2rem 0 0.5rem;
  }

  .grow-money-div h1 {
    font-size: xx-large;
  }

  .grow-money-div p {
    font-size: large;
    text-align: justify;
  }
}

@media (min-width: 1440px) {
  footer {
    gap: 7rem;
  }

  footer p,
  footer a {
    font-size: 1.3rem;
  }

  .copyright {
    font-size: larger;
  }
  /* basics*/

  .main-container {
    gap: 3rem;
    bottom: -75px;
  }

  .main-sub-container {
    width: 180px;
    height: 150px;
  }

  .partner-image :nth-child(n) {
    width: 150px;
    height: 67px;
  }

  .grow-money-section {
    gap: 4rem;
  }

  .grow-money-img {
    width: 100%;
  }

  .grow-money-div {
    padding: 6rem 6rem 0 0.5rem;
  }

  .grow-money-div h1 {
    font-size: 2.5rem;
  }

  .grow-money-div p {
    font-size: 1.3rem;
  }
}

@media (min-width: 2560px) {
  header {
    font-size: xx-large;
  }

  .nav-logo img {
    width: 200px;
    height: 60px;
  }

  .nav-links a {
    font-size: 2.3rem;
  }

  .nav-btn {
    display: flex;
    gap: 1.5rem;
  }

  .nav-btn button {
    font-size: 1.8rem;
  }

  footer {
    gap: 7rem;
  }

  footer h1 {
    font-size: 2.6rem;
  }

  footer p,
  footer a {
    font-size: 2rem;
  }

  .copyright {
    font-size: x-large;
  }

  /* basics*/

  .main-section {
    margin-bottom: 160px;
  }

  .main-container {
    gap: 5rem;
    bottom: -100px;
  }

  .main-sub-container {
    width: 250px;
    height: 220px;
  }

  .main-sub-container p {
    font-size: 2rem;
  }

  .main-sub-container img {
    width: 60px;
  }

  .newsletter-section h1 {
    font-size: 3.5rem;
  }

  .newsletter-section p {
    font-size: 2.5rem;
  }

  .newsletter-section input {
    font-size: x-large;
  }
  .newsletter-section button {
    padding: 0.5rem 1rem;
    font-size: x-large;
  }

  .partners-section h1 {
    font-size: 3.8rem;
  }

  .partners-section {
    padding: 100px 0;
  }

  .partner-image :nth-child(n) {
    width: 240px;
    height: 100px;
  }

  .grow-money-section {
    gap: 5rem;
  }

  .grow-money-img {
    width: 100%;
  }

  .grow-money-div {
    padding: 7rem 14rem 0 0.5rem;
  }

  .grow-money-div h1 {
    font-size: 4rem;
  }

  .grow-money-div p {
    font-size: 2.5rem;
  }
}
